.no-results{
    text-align: center;
    font-size: 18px;
}
.img-search{
    width: 150px;
    height: 150px;
}
.msg-no-results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}