<ion-content [fullscreen]="true">
  <app-search></app-search>
  <ion-grid class="ion-padding-vertical-0" fixed>
    <ion-row>
      <ion-col class="ion-padding-horizontal-20 ion-padding-vertical-0" size="12">
        <h2 class="ion-margin-vertical-0">Mis premios</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding-vertical-0" size="12">
        <app-card [card]="card" (action)="touchFavCard($event)" *ngFor="let card of bonds"></app-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
