<ion-content>
  <ion-icon routerLink="/tabs/view-search" class="icon-back-details" size="large" name="chevron-back-outline"></ion-icon>
  <ion-button (click)="share()" class="icon-share-details" color="light" shape="round">
    <ion-icon  size="SM" slot="icon-only" name="share-outline"></ion-icon>
  </ion-button>
  <ion-button (click)="toogleFavorite()"  class="icon-heart-details" color="light" shape="round">
    <!-- TODO aquí condicionar que se vea un icono si es o no favorito -->
    <ion-icon size="SM" slot="icon-only" name="heart-outline"></ion-icon>
  </ion-button>

  <div class="container-img">
    <img class="container-img-detail" alt="fontBaoba" [src]="shop.cover" />
  </div>
  <div class="container-img-logo">
    <img [src]="shop.logo" alt="">
  </div>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h2>{{ shop.name}}</h2>
        <ion-badge color="primary" >{{ shop.category}}</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-segment (ionChange)="handlerChange($event)" [value]="viewSelected">
          <ion-segment-button value="bonds">
            <ion-label>Tarjetas</ion-label>
          </ion-segment-button>
          <ion-segment-button value="overview">
            <ion-label>Resumen</ion-label>
          </ion-segment-button>
          <ion-segment-button value="gallery">
            <ion-label>Galería</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-container  *ngIf="viewSelected === 'overview'">
    <app-overview></app-overview>
  </ng-container>
  <ng-container *ngIf="viewSelected === 'gallery'">
    <app-gallery></app-gallery>
  </ng-container>
  <ng-container *ngIf="viewSelected === 'bonds'">
    <app-bonds></app-bonds>
  </ng-container>
</ion-content>
