<ion-content>
  <ion-icon class="icon-back-details" size="large" name="chevron-back-outline"></ion-icon>
  <div>
    <img class="img-detail" alt="fontBaoba" src="../../../assets/fondoBaoba.webp" />
  </div>


  <p>Boaba Belleza</p>


  <p>
    Bienvenidos a Baobá Belleza, tu Centro Médico Estético de referencia en pleno corazón de la Capital de España.
    Nuestro objetivo es cubrir todas las necesidades y metas de nuestros clientes en campo de la Belleza, la Salud y el Bienestar.

    En Baobá basamos nuestra filosofía de trabajo en la profesionalidad de la cuidada selección de personal, en una atención exquisita y cercana con nuestros clientes y en la meta de una calidad óptima en los servicios que ofrecemos. Creemos firmemente en la importancia del factor humano en un Centro Médico Estético.
  </p>
</ion-content>


