  .card-content{
    min-height: 120px;
  }

  ion-item{
    overflow: visible;
  }

.card-content_info{
    border-left: 1px solid #ededed;
    padding-left: 10px;
    color: var(--ion-color-fontGrey);
}

.card-content-icons{
  position: absolute;
  right: 0;
}

.card-content_badge{
  padding-left: 7px;
  padding-right: 7px;
  position: absolute;
  right: -10px;
  bottom: -20px;
  font-size: 12px;
}

.card-seal{
  box-shadow: 0px 0px 5px #999;
}

.card-content-seal-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-content-seal-4{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card-content-seal-5{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

