<h2 class="ion-padding-horizontal-20">Boaba Belleza</h2>
<p class="ion-padding-horizontal-20">
  Bienvenidos a Baobá Belleza, tu Centro Médico Estético de referencia en pleno corazón de la Capital de España.
  Nuestro objetivo es cubrir todas las necesidades y metas de nuestros clientes en campo de la Belleza, la Salud y
  el
  Bienestar.
</p>
<p class="ion-padding-horizontal-20">
  En Baobá basamos nuestra filosofía de trabajo en la profesionalidad de la cuidada selección de personal, en una
  atención exquisita y cercana con nuestros clientes y en la meta de una calidad óptima en los servicios que
  ofrecemos. Creemos firmemente en la importancia del factor humano en un Centro Médico Estético.
</p>
<ion-list>
  <ion-item class="item-list">
    <ion-icon aria-hidden="true" name="airplane" slot="start"></ion-icon>
    <ion-label>Airplane Mode</ion-label>
  </ion-item>
  <ion-item class="item-list">
    <ion-icon aria-hidden="true" name="wifi" slot="start"></ion-icon>
    <ion-label>Wi-Fi</ion-label>
  </ion-item>
  <ion-item class="item-list">
    <ion-icon aria-hidden="true" name="bluetooth" slot="start"></ion-icon>
    <ion-label>Bluetooth</ion-label>
  </ion-item>
</ion-list>
