<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar color="white" class="ion-text-center">
    <ion-buttons (click)="onClose()" slot="end">
      <ion-button class="btn-close"><ion-icon slot="start" name="close"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" fullscreen="true">
  <ion-grid class="content-grid" fixed>
    <ion-row>
      <ion-col size="12">
 <form [formGroup]="changePassword">
  <ion-item lines="none">
    <ion-input
      [errorText]="changePassword.controls['newPassword'].errors?.['required'] ? 'Este campo es requerido.':'Debe tener un mínimo de 6 a 10 caracteres, una letra mayúscula, un número y un caracter especial.'"
      label="Contraseña nueva"
      placeholder="********"
      labelPlacement="stacked"
      type="password"
      formControlName="newPassword"
    >
      <ion-input-password-toggle
        slot="end"
      ></ion-input-password-toggle>
    </ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-input
      [errorText]="getMsgErrorPassword()"
      label="Confirmar nueva contraseña"
      placeholder="********"
      labelPlacement="stacked"
      type="password"
      formControlName="confirmNewPassword"
    >
      <ion-input-password-toggle
        slot="end"
      ></ion-input-password-toggle>
    </ion-input>
  </ion-item>
 </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar color="white" class="ion-padding-top-20" class="ion-text-center">
    <ion-button fill="solid" color="primary" shape="round" (click)="update()">
      Actualizar
    </ion-button>
  </ion-toolbar>
</ion-footer>