.card-image-size{
  object-fit: cover;
  width: 60px;
  height: 60px;
}

ion-card{
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}
