// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #3f5e83;
	--ion-color-primary-rgb: 63,94,131;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #375373;
	--ion-color-primary-tint: #526e8f;

	--ion-color-secondary: #7698c1;
	--ion-color-secondary-rgb: 118,152,193;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #6886aa;
	--ion-color-secondary-tint: #84a2c7;

	--ion-color-tertiary: #FFBE98;
	--ion-color-tertiary-rgb: 255,190,152;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #e0a786;
	--ion-color-tertiary-tint: #ffc5a2;

	--ion-color-success: #7cda95;
	--ion-color-success-rgb: 124,218,149;
	--ion-color-success-contrast: #454a48;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #6dc083;
	--ion-color-success-tint: #d3efe2;

	--ion-color-warning: #F7A072;
	--ion-color-warning-rgb: 247,160,114;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #d98d64;
	--ion-color-warning-tint: #f8aa80;

	--ion-color-danger: #f35361;
	--ion-color-danger-rgb: 243,83,97;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #d64955;
	--ion-color-danger-tint: #f46471;

  --ion-color-category1: #f75ed6;
	--ion-color-category1-rgb: 247,94,214;
	--ion-color-category1-contrast: #ffffff;
	--ion-color-category1-contrast-rgb: 0,0,0;
	--ion-color-category1-shade: #d953bc;
	--ion-color-category1-tint: #f86eda;

  --ion-color-category2: #9e2bb1;
	--ion-color-category2-rgb: 158,43,177;
	--ion-color-category2-contrast: #ffffff;
	--ion-color-category2-contrast-rgb: 255,255,255;
	--ion-color-category2-shade: #8b269c;
	--ion-color-category2-tint: #a840b9;

  --ion-color-category3: #4051b5;
	--ion-color-category3-rgb: 64,81,181;
	--ion-color-category3-contrast: #ffffff;
	--ion-color-category3-contrast-rgb: 255,255,255;
	--ion-color-category3-shade: #38479f;
	--ion-color-category3-tint: #5362bc;

  --ion-color-category4: #eb2668;
	--ion-color-category4-rgb: 235,38,104;
	--ion-color-category4-contrast: #ffffff;
	--ion-color-category4-contrast-rgb: 0,0,0;
	--ion-color-category4-shade: #cf215c;
	--ion-color-category4-tint: #ed3c77;

  --ion-color-category5: #c3f2d5;
	--ion-color-category5-rgb: 195,242,213;
	--ion-color-category5-contrast: #ffffff;
	--ion-color-category5-contrast-rgb: 0,0,0;
	--ion-color-category5-shade: #acd5bb;
	--ion-color-category5-tint: #c9f3d9;

  --ion-color-fontGrey: #818080;
	--ion-color-fontGrey-rgb: 200,200,200;
	--ion-color-fontGrey-contrast: #000000;
	--ion-color-fontGrey-contrast-rgb: 0,0,0;
	--ion-color-fontGrey-shade: #b0b0b0;
	--ion-color-fontGrey-tint: #cecece;

  --ion-color-white: #ffffff;
}

.ion-color-category1 {
  --ion-color-base: var(--ion-color-category1) !important;
  --ion-color-base-rgb: var(--ion-color-category1-rgb) !important;
  --ion-color-contrast: var(--ion-color-category1-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-category1-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-category1-shade) !important;
  --ion-color-tint: var(--ion-color-category1-tint) !important;
}

.ion-color-category2 {
  --ion-color-base: var(--ion-color-category2) !important;
  --ion-color-base-rgb: var(--ion-color-category2-rgb) !important;
  --ion-color-contrast: var(--ion-color-category2-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-category2-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-category2-shade) !important;
  --ion-color-tint: var(--ion-color-category2-tint) !important;
}

.ion-color-category3 {
  --ion-color-base: var(--ion-color-category3) !important;
  --ion-color-base-rgb: var(--ion-color-category3-rgb) !important;
  --ion-color-contrast: var(--ion-color-category3-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-category3-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-category3-shade) !important;
  --ion-color-tint: var(--ion-color-category3-tint) !important;
}

.ion-color-category4 {
  --ion-color-base: var(--ion-color-category4) !important;
  --ion-color-base-rgb: var(--ion-color-category4-rgb) !important;
  --ion-color-contrast: var(--ion-color-category4-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-category4-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-category4-shade) !important;
  --ion-color-tint: var(--ion-color-category4-tint) !important;
}

.ion-color-category5 {
  --ion-color-base: var(--ion-color-category5) !important;
  --ion-color-base-rgb: var(--ion-color-category5-rgb) !important;
  --ion-color-contrast: var(--ion-color-category5-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-category5-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-category5-shade) !important;
  --ion-color-tint: var(--ion-color-category5-tint) !important;
}

.ion-color-fontGrey {
  --ion-color-base: var(--ion-color-fontGrey) !important;
  --ion-color-base-rgb: var(--ion-color-fontGrey-rgb) !important;
  --ion-color-contrast: var(--ion-color-fontGrey-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-fontGrey-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-fontGrey-shade) !important;
  --ion-color-tint: var(--ion-color-fontGrey-tint) !important;
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white) !important;
}
