<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar color="white" class="ion-text-center">
    <ion-buttons slot="end">
      <ion-button class="btn-close" (click)="cancel()"><ion-icon slot="start" name="close"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let notification of notifications" [ngClass]="{'new-notification': notification.isRead === false}" (click)="readTrue(notification)">
      <ion-item lines="full" class="ion-padding-left-12" >
        <ion-avatar aria-hidden="true" slot="start" class="img-notification">
          <img [src]="notification.icon" />
        </ion-avatar>
        <ion-label class="ion-padding-horizontal-12">
          <h2 color="fontGrey">{{notification.shopName}}</h2>
          <p>{{notification.desc}}</p>
          <relative-time  [datetime]="notification.date" lang="es"></relative-time>
        </ion-label>
      </ion-item>
      <ion-item-options side="end" >
        <ion-item-option color="danger" (click)="deleteNotification(notification)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-row class="msg-notification" *ngIf="notifications.length === 0">
    <ion-col class="msg-notification" size="12">
      <img class="img-msg-notification" src="assets/notification.svg" alt="">
      <p class="no-results">No tienes notificaciones.</p>
    </ion-col>
  </ion-row>
</ion-content>
