<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="" default-href="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recupera tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Recupera tu contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input label="Introduce tu correo electrónico" placeholder="Introduce tu correo electrónico" labelPlacement="stacked" ></ion-input>
        </ion-item>
        <ion-button  expand="block" class="ion-padding-vertical-20 ion-margin-top-24" (click)="setOpen(true)">Recuperar cuenta</ion-button>
        <ion-toast class="toasts" [isOpen]="isToastOpen" trigger="open-toast" icon="checkmark-circle-outline" message="Se ha enviado un mensaje para restablecer la contraseña. Revise la bamdeja de su correo eletrónico." [duration]="5000" (didDismiss)="setOpen(false)"></ion-toast>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
