ion-icon[size='XS']{
  font-size: 1rem;
}
ion-icon[size='SM']{
  font-size: 1.5rem;
}
ion-icon[size='MD']{
  font-size: 2.25rem;
}
ion-icon[size='LG']{
  font-size: 3rem;
}
ion-icon[size='XL']{
  font-size: 6rem;
}
