.card-content_badge{
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.card{
  min-height: 124px;
  position: relative;
  display: flex;
  align-items: center;
}

.content-label{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}