<ion-header>
  <ion-toolbar>
    <app-search></app-search>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <app-swiper [dataImg]="lstSwiper" [swiperParams]="configParams"></app-swiper>
  </div>
  <div *ngIf="lstFavoriteCards && lstFavoriteCards.length > 0">
    <ion-grid>
      <ion-row class="content-favorite ion-padding-top-12">
        <ion-col size="3" *ngFor="let card of lstFavoriteCards">
          <div (click)="toNavigate(card)" class="ion-margin-0">
            <img class="content-favorite-img" [src]="card.icon" alt="logo">
            <p class="content-favorite-text">{{card.title}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid class="ion-padding-0" fixed>
    <ion-row class="ion-padding-left-16">
      <ion-col size="10">
        <h5 class="ion-margin-vertical-8">Resultados: {{cards.length}}</h5>
      </ion-col>
      <ion-col class="ion-padding-left-16" size="2">
        <ion-button fill="clear">
          <ion-icon size="MD" slot="icon-only" name="map-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-card-info [card]="card" *ngFor="let card of cards"></app-card-info>
</ion-content>
