.content-favorite {
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.content-favorite-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0.5rem;
  margin-bottom: 0.5rem;
  
}
.content-favorite-img{
    width: 75px;
    height: 75px;
    border: 4px solid var(--ion-color-secondary);
    border-radius: 50%;
    padding: 2px;
}

.no-results{
  text-align: center;
  font-size: 18px;
}
.img-search{
  width: 100px;
  height: 100px;
}
.msg-no-results{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

ion-content::part(scroll) {
  padding-bottom: 60px;
}