
.logo-img{
  width: 100px;
  height: 100px;
  margin: 0px auto;
}

.message{
  color: var(--ion-color-primary);
}
.principal-btns{
  &::part(native){
    border: none;
    box-shadow: 0 5px 5px -2px;
  }
}
.container-btns{
  display: flex;
  justify-content: space-around;
}

.space{
  position: relative;
  z-index: 2;
  &::after{
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before{
    content: 'o';
    font-size: 20px;
    line-height: 13px;
    position: absolute;
    width: 30px;
    height: 100%;
    background: white;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }
}
.login-button-rrss{
  width: 30px;
  height: 30px;
}
.button__icon--position-left{
  position: absolute;
  left: 20px;
}

.register{
  color: var(--ion-color-primary);
}
