<ion-content class="ion-padding" [fullscreen]="true">
  <div class="ion-margin-20">
    <ion-img alt="logo" src="../../../../assets/logo.png" class="logo-img"></ion-img>
  </div>
  <div>
    <form  (ngSubmit)="onSubmit()">
      <ion-list lines="none">
        <ion-item>
          <ion-input label="Usuario" placeholder="Usuario" labelPlacement="stacked" class="border-login"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Contraseña" placeholder="********"  labelPlacement="stacked" type="password" class="border-login" helperText="Mínimo 8 caracteres">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
      </ion-list>
    </form>
    <ion-button expand="block" class="ion-padding-vertical-20">Iniciar sesión</ion-button>
  </div>
  <div class="ion-text-center ion-margin-vertical-20">
    <strong class="ion-font-size-14 message">¿Olvidó su contraseña?</strong>
    <p class="space">o</p>
  </div>

  <div>
    <ion-button color="secondary" expand="block" fill="outline" class="ion-padding-vertical-12">
      <ion-icon class="button__icon--position-left" slot="start" name="logo-google"></ion-icon>
      Continuar con Google</ion-button>
    <ion-button color="secondary" expand="block" class="ion-padding-vertical-12 ion-margin-left-6">
      <ion-icon class="button__icon--position-left" slot="start"  name="logo-apple"></ion-icon>
      Continuar con Apple</ion-button>
  </div>
  <div class="ion-text-center ion-margin-top-20 ion-padding-top-20">
    <p class="ion-font-size-14">¿No tienes una cuenta?<strong class="register"> Regístrate</strong></p>
  </div>
</ion-content>
