.filter-circle{
  align-self: center;
}
.badge-icon{
  position: absolute;
  display: flex;
  top: 16px;
  left: 20px;
  z-index: 10;
  border: 1px solid;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 10px;
  background-color: white;
  box-shadow: 0 0 5px var(--ion-color-fontGrey);
  color: var(--ion-color-primary);
  align-items: center;
  justify-content: center;
}
