.image-profile {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

ion-datetime-button {
  width: 100%;

  &::part(native) {
    width: 100%;
    text-align: start;
    margin: 0;
    margin-top: 1px;
    padding: 16px;
    background-color: white;
    border: 1px solid #dbdde8;
    color: #676767;
  }
}

.content-date {
  ion-label {
    width: 100%;
    font-size: 14px;
  }

  &::part(native) {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

ion-grid {
  height: 100%;
  position: relative;
}
.btn-update {
  position: absolute;
  width: 100%;
  bottom: 0;
  div {
    display: flex;
    justify-content: center;
  }
}
