<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        mode="ios"
        text=""
        default-href="/tabs/account"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <img class="image-profile" src="assets/profile.png" alt="" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="profileForm">
          <ion-list lines="none">
            <ion-item>
              <ion-input
                label="Usuario"
                placeholder="jhon.doe"
                labelPlacement="stacked"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                label="Correo electrónico"
                placeholder="Correo electrónico"
                labelPlacement="stacked"
                formControlName="email"
              ></ion-input>
            </ion-item>
            <ion-item class="content-date">
              <ion-label>Fecha de nacimiento</ion-label>
              <ion-datetime-button datetime="datetime"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime
                    [preferWheel]="true"
                    presentation="date"
                    id="datetime"
                  ></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-item>
            <ion-item>
              <ion-input
                label="Teléfono"
                placeholder="Teléfono"
                labelPlacement="stacked"
                formControlName="phone"
              ></ion-input>
            </ion-item>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button
          expand="block"
          class="ion-padding-vertical-20 ion-margin-top-24"
          >Actualizar</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
